<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CycleCalculator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div>
    <button class="btn btn-primary" @onclick="Save">Save</button>
</div>

@code {
    private void Save()
    {
        
    }
}